auth/
data/
.env

.terraform
.terraform.lock.hcl
.terraform.tfstate.lock.info
terraform.tfstate
terraform.tfstate.backup
terraform.tfvars

# Ignore Traefik cetificate files
*.pem
*.pub
*.crt
*.key
users.txt
