services:
  teable:
    image: ghcr.io/teableio/teable:0.5.0-alpha-1.10.0-build.600-amd64
    restart: unless-stopped
    container_name: teable
    ports:
      - 3045:3000
    volumes:
      - data:/app/.assets:rw
    environment:
      - NEXT_ENV_IMAGES_ALL_REMOTE=true
      - SECRET_KEY=replace_this_secret_key
      - PUBLIC_ORIGIN=http://127.0.0.1:3000
      - PRISMA_DATABASE_URL=postgresql://postgres_shared:postgres_shared@10.10.3.153:5432/teable
      - BACKEND_CACHE_PROVIDER=redis
      - BACKEND_CACHE_REDIS_URI=redis://default@10.10.3.143:6379/0
    networks:
      network_service:
        ipv4_address: 10.10.3.28 #3000

networks:
  network_service:
    external: true

volumes:
  data:
    external: false