services:
  rstudio:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: rstudio
    image: rstudio:lidr
    privileged: true
    devices:
      - /dev/dri/card0:/dev/dri/card0:rwm
      - /dev/dri/renderD128:/dev/dri/renderD128:rwm
    ports:
      - 8787:8787
    environment:
      PASSWORD: "password"
      DISABLE_AUTH: true
    volumes:
      - config:/home/rstudio/.config/rstudio
      - data:/home/rstudio
      - workspace_data:/home/rstudio/workspace

    networks:
      network_service:
        ipv4_address: 10.10.3.40
    dns:
      - 10.10.3.200

networks:
  network_service:
    external: true

volumes:
  config:
    external: false
  data:
    external: false
  workspace_data:
    external: true